/*Background et mise en page général*/
    body{
        background-image: url("images/background.png");
        font-family: "Source Sans Pro", serif;
        color: #002d40;
    }
    #cv{
        width: 700px;
        margin: auto;
    }
    h2{
        color: #03638b;
    }
    hr{
        margin-top: 20px;
    }
    
/*style par defaux*/
    h1{
        font-family: Pacifico, serif;
        font-weight: normal;
        font-size: 30px;
        cursor: default;
    }
    .img-titre{
        position: relative;
        top: 5px;
    }
    strong{
        color: #002d40;
        font-weight: bold;
    }
    p{
        color: #858580;
    }
    
/*Header*/
    #titre{
        display: inline-block;
        vertical-align: top;
    }
    header #skin span{
        display: inline-block;
        background-color: white;
        padding: 5px;
        height: 145px;
        border-radius: 5px;
        box-shadow: 1.5px 1.5px 5px grey;
        margin-bottom: 15px;
        margin-right: 20px;
        margin-left: 0px;
    }
    #titre h1{
        position: relative;
        bottom: 20px;
        font-family: Pacifico, serif;
        margin: 0;
        text-align: center;
        font-size: 85px;
        height: 120px;
        font-weight: normal;
    }
    #titre h2{
        position: relative;
        bottom: 10px;
        font-family: "Source Sans Pro", serif;
        margin: 0;
        text-align: center;
        font-weight: normal;
        font-size: 23px;
        margin-left: 10px;
        color: #03638B;
    }
    
/*navigation*/
    header nav{
        border-color: #002D40;
        border-top: 1px;
        border-bottom: 1px;
        border-style: solid;
        border-left: 0px;
        border-right: 0px;
    }
    header nav ul{
        padding-left: 20px;
        margin-bottom: 12px;
        margin-top: 12px;
    }
    header nav li{    
        display: inline-block;
        background-repeat: no-repeat;
        padding-left: 30px;
        margin-right: 20px;
    }
    header nav a{
        color: #002d40;
        text-decoration: none;
    }
    header nav a:visited{
        color: #002d40;
        text-decoration: none;
    }
    header nav a:hover{
        color: #002d40;
        text-decoration: underline;
    }
    header nav li.p1{
        background-image: url("images/social/viadeo.png");
    }
    header nav li.p2{
        background-image: url("images/social/twitter.png");
    }
    header nav li.p3{
        background-image: url("images/social/facebook.png");
    }
    header nav li.p4{
        background-image: url("images/social/linkedin.png");
    }
    header nav li.p5{
        background-image: url("images/social/mail.png");
    }
    
/*Les competences*/
    .niveauc {
        display:inline-block;
        background-image:url('./images/competences/niveau.png');
        background-repeat:no-repeat;
        width:83px;
        height:14px;
    }    
    #competences .niveau5 {
        background-position:0 0;
    }
    #competences .niveau4 {
        background-position:0 -16px;
    }
    #competences .niveau3 {
        background-position:0 -32px;
    }
    #competences .niveau2 {
        background-position:0 -48px;
    }
    #competences .niveau1 {
        background-position:0 -64px;
    }    
    #competences ul{
        padding: 0px;
        margin-top: 10px;
    }
    #competences li{
        background-position: 0px 5px;
        display: inline-block;
        background-repeat: no-repeat;
        padding-left: 40px;
        margin-right: 20px;
        min-width: 100px;
        height: 38px;
        margin-bottom: 5px;
    }
    #competences li:hover{
        background-color: #C0C0C0;
        border-radius: 3px;
        cursor: pointer;
    }
    #competences li.p1{    background-image: url("images/competences/html5.png");}
    #competences li.p2{    background-image: url("images/competences/css3.png");}
    #competences li.p3{    background-image: url("images/competences/php.png");}
    #competences li.p4{    background-image: url("images/competences/mysql.png");}
    #competences li.p5{    background-image: url("images/competences/xml.png");}
    #competences li.p6{    background-image: url("images/competences/xpath.png");}
    #competences li.p7{    background-image: url("images/competences/javascript.png");}
    #competences li.p8{    background-image: url("images/competences/jquery.png");}
    #competences li.p9{    background-image: url("images/competences/ps.png");}
    #competences li.p10{    background-image: url("images/competences/illustrator.png");
    }
    #competences li div{
        font-weight: bold;
        font-size: 15px;
    }